* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: black;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: "Kdam Thmor Pro", serif;
}

li:hover {
    color: #D21617;
}

#logo {
    height: auto;
    width: 110px;
}

#banner {
    background-image: url("https://preview.redd.it/6092ltrt8nt71.jpg?auto=webp&s=c26d698d5d92796be9c6ab47f22dba63a7be96c3");
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Trailer {
    width: 50%;
}

#sinopse {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 30px;

}

.descripition {
    color: #fff;
    font-size: 17px;
    font-family: "Kdam Thmor Pro", serif ;
    width: 70%;

}

.button {
    width: 200px;
    height: 60px;
    background-color: #D21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
    
}

.button:hover {
    background-color: #fff;
    color: #000;    
}
.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;

}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color:#fff;
    font-size: 14px;
    font-family: "Kdam Thmor Pro", serif;
}

.card hover {
    transform: scale(2.02);
}

.banner-1 {
    background-image: url("https://th.bing.com/th/id/OIP.SxBu53lkSo3dwZ1ZhA9l7AHaNF?w=115&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}
.banner-2 {
    background-image: url("https://th.bing.com/th?id=OIP._xep0VqxPaOaGzCM6vKJlwHaLF&w=204&h=305&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2");
}
.banner-3 {
    background-image: url("https://th.bing.com/th/id/OIP.yAE9Mg-6nKG1wroXUcGyOgHaIx?w=138&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: "Kdam Thmor Pro", serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media(max-width:768px){
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 40%;
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;

    }

    .Trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .descripition {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}
